.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: blue;
  direction: rtl;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  background-color: blue;
}